.App{
  min-height: 100vh;
  background: rgb(239, 240, 239);
}

#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://wallpapercave.com/wp/6AGfPRi.jpg');
  background-size: cover;
  padding: 40px;


}

aside{
  background-color: grey;
}

#board-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  z-index: 1;

}

#board-rows > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 830px;
}

.button-container > div{
  display: flex;
  margin: 5px;
  padding: 17px 25px;
  color: white;
  background: #2185d0;
  font-size: 20px;
  width: 15px;
  border-radius: 10%;
  user-select: none;
  
}

#current-spin{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 420px;
  left: 38px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
}

#current-spin > h1 {
  font-size: 20px;
}

#spin-amount {
  display: flex;
  font-size: 35px;
  align-items: center;
}

#spin-amount > img{
  width: 50px;
}

.vowel:hover {
  background: red;
}

#currency {
  width: 35px;
}

.tile {
  width: 57px;
  height: 82.5px;
  margin: 1px;
  border: black solid 7px;
  user-select: none;
}

.green {
  background: #282c33;
  color: transparent;
}

.green > img {
  width: 40px;
  margin-top: 11px;
  margin-left: 1.5px;
}

.red {
  background: rgb(243, 75, 75);
}

.blue {
  background: rgb(65, 179, 255);
}

.yellow {
  background: rgb(255, 216, 89);
}

.hide {
  color: transparent;
  background: white;

}

.show {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  padding-top: 23px;
  background: white;
}

#category {
  user-select: none;
  justify-content: center;
  margin: 10px;
  margin-top: 50px;
  padding-top: 14px;
  color: #67daf9;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 35px;
  text-align: center;
  width: 1000px;
  height: 60px;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  background: rgba(2,0,36, 1);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgb(32, 32, 99) 48%, rgba(2,0,36,0) 100%);
  border-radius: 3%;
} 


.used {
  opacity: 50%;
}

#wheel-btn-container{
  display: flex;


}

#wheel-btn-container > h1{
  font-size: 50px;
  color: rgb(238, 87, 87);
  -webkit-text-stroke: 1px black;
  margin: 15px;
  padding: 20px;
}

#wheel-btn{
  width: 130px;
  
  
}

.player{
  width: 130px;
  border-radius: 4%;
  padding: 5px;
  margin: 25px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.267);
}

#menu{
  display: flex;
  justify-content: center;
}

#player-options{
  margin: 35px;
}

#menu-panel{
  display: flex;
  justify-content: center;
  background: rgb(218, 218, 218);
  height: 150px;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.267);
}

#player-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  align-self: flex-start;
}

.round-score {
  display: flex;
  align-items: center;
}


.round-score > p {
  color: white;
  font-size: 30px;
  margin-top: -2px;
  margin-left: 3px;
}

#mute-icon{
  position: absolute;
  top: 14px;
  right: 27px;
  width: 55px;
}

#board-backdrop{
  position: absolute;
  z-index: 0;
  width: 923px;
  top: -11px;

}

.total-score{
  display: flex;
  justify-content: flex-end;
  opacity: 75%;
}

#round-money{
  width: 18px;
  height: 19px;
  margin-right: 3px;
}

.red-select {
  box-shadow: 0 0 30px 12px rgb(243, 75, 75);
}

.blue-select {
  box-shadow: 0 0 30px 12px rgb(65, 179, 255);
}

.yellow-select {
  box-shadow: 0 0 30px 12px rgb(255, 216, 89);
}


@media (prefers-reduced-motion: no-preference) {
  .green > img {
    animation: App-logo-spin infinite 30s linear;
  }

  #wheel-btn:hover {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}